
body {
  font-family: Arial;
}

.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}

#vis-holder {
  display: flex; 
  flex-flow: row nowrap;
  flex: 1;
  justify-content: center;
  justify-content: space-evenly;
}

.container {
  flex: 1;
}